*{
	margin: 0px;
	padding: 0px;
}

body{

}

#header{

}

#top-heard{
	width: 100%;
	height: 35px;
	margin: 0px auto;
}

#top-heard ul{
	margin: 0px;
	padding: 0px;

}

#top-heard ul li{
	float: left;
	list-style: none;
}

#top-heard ul li a{
	display: block;
	text-decoration: none;
	color: #000;
	padding: 0px 15px 0px 18px;
	border-color: #CCCCCC;
	margin-top: 10px;
}

#top-heard ul li a.day{
	margin-top: 6px;
	margin-left: 340px;
	font-size: 12px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -.005em;
    color: #666;
    font-family: monospace;
}

#top-heard ul li a.hotphone{
	height: 28px;
	margin-top: 4px;
	margin-left: 10px;
	background: #ed1c24;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 28px;
    align-items: center;
    letter-spacing: -.005em;
    color: #fff;
}

#top-heard ul li span.search img{
	margin-top: -11px;
	margin-left: 550px;
	cursor: pointer;
}

#bottom-heard{
	width: 100%;
	height: 133px;
	margin: 0px auto;
	background: url(C:/xampp/htdocs/WebCovid/Anh/bg-header.png) no-repeat center;
}

#bottom-heard ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}

#bottom ul li{
	float: left;
	list-style: none;
}

#bottom-heard ul li span.logo img{
	margin-top: -32px;
	margin-left: 220px;
}

#bottom-heard ul li a.name{
	display: block;
	margin-top: -28px;
	margin-left: 360px;
	font-weight: 600;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: -.005em;
    color: #fff;
    font-family: sans-serif;
}

#menu{
	width: 100%;
	height: 33px;
	margin: 0px auto;
	background-color: #2e3192;
}

#menu ul{
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
	height: 33px;
}

#menu ul li{
	float: left;
	list-style: none;
	height: 33px;
}

#menu ul li.tt{
	float: left;
	list-style: none;
	height: 31px;
	width: 30px;
	margin-left: 220px;
}

#menu ul li span.menu1 img{
	margin-top: 1px;
	margin-left: 6px;
	cursor: pointer;
}

#menu ul li a{
	height: 23px;
	display: block;
    padding: 0 8px 8px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
    font-family: sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 25px;
    color: #fff;
}

#menu ul li a:hover{
	border-bottom: 2px solid white;
	transition: ease-in 0.20s;
	-moz-transition: ease-in 0.20s;
	-webkit-transition:  ease-in 0.20s;
}

#menu ul li.tt:hover{
	border-bottom: 2px solid white;
	transition: ease-in 0.20s;
	-moz-transition: ease-in 0.20s;
	-webkit-transition:  ease-in 0.20s;
}

#tintuc{
	margin: 0px;
	padding: 0px;
}

#tintuc1{
	margin-top: 20px;
	border-bottom: 1px solid #2e3192;
	width: 1080px;
	height: 535px;
	margin-left: 220px;
}

#tintuc1 ul{
	margin: 0px;
	padding: 0px;
	float: left;
	list-style: none;
}

#tintuc1 ul.tinhot{
	width: 673px;
	height: 520px;
}

#tintuc1 ul.dienbien{
	width: 402px;
	height: 520px;
}

#tintuc1 ul.tinhot li {
	width: 650px;
}

#tintuc1 ul.tinhot li a.hot-title{
	text-decoration: none;
	margin-top: 5px;
	font-size: 24px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    margin-bottom: 12px;
    font-family: sans-serif;
    font-weight: 600;
    display: block;
}

#tintuc1 ul.tinhot li a.hot-title:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc1 ul.tinhot li p{
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: #444;
}

#tintuc1 ul.dienbien li {
	width: 400px;
}

#tintuc1 ul.dienbien h2.cm {
	border-left: 3px solid blue;
	height: 25px;
}

#tintuc1 ul.dienbien li.ct {
	margin-top: 5px;
	background-color: #f0f8ff;
	height: 445px;
}
#tintuc1 ul.dienbien li.xt {
	margin-top: 5px;
	height: 25px;
}

#tintuc1 ul.dienbien li a {
	display: block;
	text-decoration: none;
}

#tintuc1 ul.dienbien h2 a.categories {
	display: block;
	margin-top: -1px;
	height: 25px;
	border-left: 3px solid red;
	text-decoration: none;
	font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc1 ul.dienbien li.ct p.title1{
	padding-top: 3px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 140%;
    color: #333;
    margin-bottom: 10px;
    text-indent: 12px;
}

#tintuc1 ul.dienbien li.ct p.content1{
	margin-left: 12px;
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 5px;
    text-indent: 10px;
}

#tintuc1 ul.dienbien li.ct p.ttct1{
	margin-left: 12px;
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #333;
}

#tintuc1 ul.dienbien li.xt a.see-more{
	text-align: center;
	margin-top: 18px;
	color: #333CCC;
}

#tintuc6{
	margin-left: 220px;
	margin-top: 15px;
	padding: 0px;
	display: flex;
	height: 565px;
	width: 1080px;
	border-bottom: 1px solid #2e3192;
}

#tintuc6-left{
	width: 538px;
	height: 550px;
	border-right: 1px solid #ccc;
}

#tintuc6-right{
	width: 538px;
	height: 550px;
}

#tintuc6 ul{
}

#tintuc6 ul.categories{
	height: 25px;
	border-left: 4px solid blue;
}

#tintuc6 ul.tintuc6-left1{
	width: 520px;
	height: 164px;
	border-bottom: 1px solid #ccc;
	margin-top: 15px;
}

#tintuc6 ul.tintuc6-left2{
	width: 520px;
	height: 164px;
	margin-top: 15px;
}

#tintuc6 ul.tintuc6-right1{
	width: 520px;
	height: 164px;
	border-bottom: 1px solid #ccc;
	margin-left: 14px;
	margin-top: 15px;
}

#tintuc6 ul.tintuc6-right2{
	width: 520px;
	height: 164px;
	margin-left: 14px;
	margin-top: 15px;
}

#tintuc6 ul.categories h2.cm a{
	display: block;
	margin-top: -1px;
	height: 25px;
	border-left: 3px solid red;
	text-decoration: none;
	font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc6 ul li{
	float: left;
	list-style: none;
}

#tintuc6 ul li.img{
	float: left;
	height: 144px;

}

#tintuc6 ul li.text{
	float: left;
	width: 272px;
	height: 144px;
	margin-left: 14px;
}

#tintuc6 ul li.text a{
	text-decoration: none;
	font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
    margin-bottom: 10px;
    display: block;
}

#tintuc6 ul li.text a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc6 ul li.text p{
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #444;
    display: block;
}

#tintuc6-right ul.categories{
	margin-left: 14px;
	border-left: 4px solid blue;
}

#tintuc4{
	height: 520px;
	width: 1080px;
	border-bottom: 1px solid #2e3192;
	margin-left: 220px;
	margin-top: 15px;
	display: flex;
}

#tintuc4-left{
	width: 559px;
	height: 515px;
}

#tintuc4-right{
	width: 520px;
	height: 515px;
}

#tintuc4 ul{
}

#tintuc4 ul.categories{
	height: 25px;
	border-left: 4px solid blue;
}

#tintuc4-left ul.tintuc4-left1{
	width: 555px;
	height: 470px;
	margin-top: 15px;
	list-style: none;
}

#tintuc4-right ul.tintuc4-right1{
	width: 517px;
	height: 133px;
	border-bottom: 1px solid #ccc;
	margin-top: 39px;
	list-style: none;
}

#tintuc4-right ul.tintuc4-right2{
	width: 517px;
	height: 133px;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
	list-style: none;
}

#tintuc4-right ul.tintuc4-right3{
	width: 517px;
	height: 133px;
	margin-top: 20px;
	list-style: none;
}

#tintuc4-right ul.tintuc4-right1 li{
	float: left;
}

#tintuc4-right ul.tintuc4-right2 li{
	float: left;
}

#tintuc4-right ul.tintuc4-right3 li{
	float: left;
}

#tintuc4-left ul.tintuc4-left1 li.text{
	width: 520px;
	height: 135px;
}

#tintuc4-left ul.categories h2.cm a{
	display: block;
	margin-top: -1px;
	height: 25px;
	border-left: 3px solid red;
	text-decoration: none;
	font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc4-left ul.tintuc4-left1 li.text a{
	display: block;
	text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
    margin-bottom: 12px;
    margin-top: 5px;
}

#tintuc4-left ul.tintuc4-left1 li.text a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc4-left ul.tintuc4-left1 li.text p{
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #444;
}

#tintuc4-right ul.tintuc4-right1 li.img{
	float: left;
}

#tintuc4-right ul.tintuc4-right1 li.text{
	float: left;
	width: 325px;
	margin-left: 10px;
}

#tintuc4-right ul.tintuc4-right1 li.text a{
	display: block;
	text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
}

#tintuc4-right ul.tintuc4-right1 li.text a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc4-right ul.tintuc4-right2 li.img{
	float: left;
}

#tintuc4-right ul.tintuc4-right2 li.text{
	float: left;
	width: 325px;
	margin-left: 10px;
}

#tintuc4-right ul.tintuc4-right2 li.text a{
	display: block;
	text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
}

#tintuc4-right ul.tintuc4-right2 li.text a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc4-right ul.tintuc4-right3 li.img{
	float: left;
}

#tintuc4-right ul.tintuc4-right3 li.text{
	float: left;
	width: 325px;
	margin-left: 10px;
}

#tintuc4-right ul.tintuc4-right3 li.text a{
	display: block;
	text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
}

#tintuc4-right ul.tintuc4-right3 li.text a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#tintuc8{
	width: 1080px;
	height: 640px;
	border-bottom: 1px solid #2e3192;
	margin-left: 220px;
	margin-top: 15px;
}

#tintuc8 ul.categories{
	height: 25px;
	border-left: 4px solid blue;
	margin-bottom: 15px;
}

#tintuc8 ul.categories h2.cm a{
	display: block;
	margin-top: -1px;
	height: 25px;
	border-left: 3px solid red;
	text-decoration: none;
	font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc8 ul.tintuc8-1{
	width: 1079px;
	height: 300px;
	list-style: none;
}

#tintuc8 ul.tintuc8-1 li{
	float: left;
}

#tintuc8 ul.tintuc8-1 li.tintuc8-1-1{
	width: 250px;
	height: 300px;
}

#tintuc8 ul.tintuc8-1 li.tintuc8-1-2{
	width: 250px;
	height: 300px;
	margin-left: 26px;
}

#tintuc8 ul.tintuc8-1 li a{
	display: block;
	text-decoration: none;
	width: 250px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: sans-serif;
}

#tintuc8 ul.tintuc8-1 li a:hover{
	color: #333399;
	transition: ease-in 0.10s;
	-moz-transition: ease-in 0.10s;
	-webkit-transition:  ease-in 0.10s;
}

#lienket{
	width: 1080px;
	height: 125px ;
	margin-top: 15px;
	margin-left: 220px;
	margin-bottom: 20px;
}

#lienket ul.categories{
	height: 25px;
	border-left: 4px solid blue;
	margin-bottom: 15px;
}

#lienket ul li{
	list-style: none;
	float: left;
}

#lienket ul li.banner2{
	margin-left: 18px;
}

#lienket ul.categories h2.cm a{
	display: block;
	margin-top: -1px;
	height: 25px;
	border-left: 3px solid red;
	text-decoration: none;
	font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: sans-serif;
    padding-left: 10px;
    margin-left: -1px;
}

#footer{
	width: 100%;
	height: 145px;
	margin-top: 80px;
	border: 1px solid #111;
	background-color: #2E3192 ;
}

#footer ul{
	height: 125px;
	float: left;
}

#footer ul li{
	list-style: none;
}
#footer ul.logo{
	width: 125px;
	margin-left: 220px;
}

#footer ul.information{
	width: 830px;
}

#footer ul.co-op{
	width: 110px;
}

#footer ul.logo li span.logo a{
	display: block;
}

#footer ul.logo li span.logo a img{
	margin-top: -32px;
}

#footer ul.information li p.information1{
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

#footer ul.information li p.information2{
	font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-left: 10px;
}

#footer ul.co-op li{
	margin-left: 7px;
	margin-top: 20px;
}
