USE [master]
GO
/****** Object:  Database [TinTucCovid]    Script Date: 11/29/2021 7:19:44 AM ******/
CREATE DATABASE [TinTucCovid]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TinTucCovid', FILENAME = N'D:\SQL_Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TinTucCovid.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TinTucCovid_log', FILENAME = N'D:\SQL_Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\TinTucCovid_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TinTucCovid].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TinTucCovid]
GO
/****** Object:  Table [dbo].[BaiViet]    Script Date: 11/29/2021 7:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BaiViet](
	[BaiVietId] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NULL,
	[MoTa] [nvarchar](200) NULL,
	[NoiDung] [nvarchar](4000) NULL,
	[ChuDeid] [int] NULL,
	[Anh] [varchar](100) NULL,
	[NgayTao] [date] NULL,
 CONSTRAINT [PK_BaiViet] PRIMARY KEY CLUSTERED 
(
	[BaiVietId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ChuDe]    Script Date: 11/29/2021 7:19:44 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuDe](
	[ChuDeid] [int] IDENTITY(1,1) NOT NULL,
	[TenChuDe] [nvarchar](50) NULL,
	[SoLuongBaiViet] [int] NULL,
 CONSTRAINT [PK_ChuDe] PRIMARY KEY CLUSTERED 
(
	[ChuDeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BaiViet]  WITH CHECK ADD  CONSTRAINT [FK_BaiViet_ChuDe] FOREIGN KEY([ChuDeid])
REFERENCES [dbo].[ChuDe] ([ChuDeid])
GO
ALTER TABLE [dbo].[BaiViet] CHECK CONSTRAINT [FK_BaiViet_ChuDe]
GO
USE [master]
GO
