* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

main,
.header__top,
.header__middle__container,
.footer__mid,
.header__bottom ul {
    max-width: 1083px;
    width: 100%;
    margin: 0 auto;
}

header{

}

.header__top {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 7px;
}

.header__top__time {
    margin-top: 7px;
    margin-left: 140px;
}

.header__top__phone {
    display: flex;
}

.header__top__phone:hover {
    cursor: pointer;
}

.header__top__phone .material-icons {
    color: #666666;
    margin-right: 10px;
}

.header__top__phone .phone {
    background-color: #ed1c24;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 7px;
    border-radius: 10px;
}

.header__middle {
    height: 131px;
    background: url(./images/bg-header.webp) no-repeat;
}

.header__middle__container {
    height: 100%;
}

.header__middle__container__image {
    position: relative;
}

.header__middle__container__image img {
    position: absolute;
    top: -25px;
}

.header__middle__container__title {
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 150px;
    padding-top: 70px;
}

.header__bottom {
    height: 24px;
    background-color: #2e3192;
    font-family: "Merriweather", serif;
    color: white;
    font-weight: 400;
    font-size: 14px;
}

.header__bottom ul {
    display: flex;
}

.header__bottom  ul  li {
    margin-top: 4px;
    list-style: none;
    margin-right: 12px;
}

.header__bottom  ul  li:hover {
    border-bottom: 3px solid white;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

.header__bottom  ul  li.menu {
    height: 25px;
    margin-top: -1px;
}

.header__bottom  ul  li.menu a:hover {
    font-weight: bold;
    color: #CC99CC;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

.header__bottom  ul  li.icon {
    margin-top: -7px;
}

.header__bottom li a {
    text-decoration: none;
    color: white;
}

#tintuc{
    margin: 0px;
    padding: 0px;
}

#tintuc1{
    margin-top: 20px;
    border-bottom: 1px solid #2e3192;
    width: 1080px;
    height: 545px;
}

#tintuc1 ul{
    margin: 0px;
    padding: 0px;
    float: left;
    list-style: none;
}

#tintuc1 ul.tinhot{
    width: 673px;
    height: 520px;
}

#tintuc1 ul.dienbien{
    width: 402px;
    height: 520px;
}

#tintuc1 ul.tinhot li {
    width: 650px;
}

#tintuc1 ul.tinhot li.img {
    max-width: 654px;
    max-height: 409px;
}

#tintuc1 ul.tinhot li.img img{
    width: 100%;
    height: 100%;
}

#tintuc1 ul.tinhot li a.hot-title{
    text-decoration: none;
    margin-top: 5px;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    margin-bottom: 12px;
    font-family: "Merriweather", serif;
    font-weight: 600;
    display: block;
}

#tintuc1 ul.tinhot li a.hot-title:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc1 ul li.text .text__content a, 
#tintuc1 ul li.text .text__content p{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc1 ul.tinhot li p{
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 130%;
    color: #444;
}

#tintuc1 ul.dienbien li {
    width: 400px;
}

#tintuc1 ul.dienbien h2.cm {
    border-left: 3px solid blue;
    height: 25px;
}

#tintuc1 ul.dienbien li.ct {
    overflow: scroll;
    margin-top: 5px;
    background-color: #f0f8ff;
    height: 445px;
    border-left: 1px solid #e5e5e5;
    border-top:  1px solid #e5e5e5;
    text-align: justify;
    padding: 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AE0909;
}

#tintuc1 ul.dienbien li.xt {
    margin-top: 25px;
}

#tintuc1 ul.dienbien li.xt a{
}

#tintuc1 ul.dienbien li a {
    display: block;
    text-decoration: none;
}

#tintuc1 ul.dienbien li.ct h2{
    width: 397px;
    height: 40px;
}

#tintuc1 ul.dienbien li.ct h2 p{
    height: 20px;
    float: left;
}

#tintuc1 ul.dienbien li.ct h2 p.dau{
    width: 10px;
    height: 10PX;
    margin-top: 15px;
    margin-left: -5px;
    border-radius: 5px;
    background-color: #2E3192;
}

#tintuc1 ul.dienbien li.ct h2 p.kc1{
    width: 50px;
    border-bottom: 1px solid #e5e5e5;
}

#tintuc1 ul.dienbien li.ct h2 p.day{
    width: 117px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #bb1119;
    margin-bottom: 12px;
    display: inline-block;
    background: #f0f8ff;
    z-index: 2;
    margin-top: 10px;
}


#tintuc1 ul.dienbien li.ct h2 p.kc2{
    width: 224px;
    border-bottom: 1px solid #e5e5e5;
}

#tintuc1 ul.dienbien h2 a.categories {
    display: block;
    margin-top: -1px;
    height: 25px;
    border-left: 3px solid red;
    text-decoration: none;
    font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: "Merriweather", serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc1 ul.dienbien li.ct p.title1{
    padding-top: 3px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    color: #333;
    margin-bottom: 10px;
    text-indent: 15px;
}

#tintuc1 ul.dienbien li.ct p.content1{
    margin-left: 12px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #333;
    margin-bottom: 5px;
    text-indent: 10px;
}

#tintuc1 ul.dienbien li.ct p.ttct1{
    margin-left: 12px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #333;
}

#tintuc1 ul.dienbien li.xt a.see-more{
    margin-top: 18px;
    text-align: center;
  color: #2e3192;
  font-family: "Merriweather", serif;
  display: block;
}

#tintuc1 ul.dienbien li.xt a.see-more:hover{
    color: #993399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc6{
    margin-top: 15px;
    padding: 0px;
    display: flex;
    height: 620px;
    width: 1080px;
    border-bottom: 1px solid #2e3192;
}

#tintuc6-left{
    width: 538px;
    height: 600px;
    border-right: 1px solid #ccc;
}

#tintuc6-right{
    width: 538px;
    height: 600px;
}

#tintuc6 ul{
}

#tintuc6 ul.categories{
    height: 25px;
    border-left: 4px solid blue;
}

#tintuc6 ul.tintuc6-left1{
    width: 520px;
    height: 180px;
    border-bottom: 1px solid #ccc;
    margin-top: 15px;
}

#tintuc6 ul.tintuc6-left2{
    width: 520px;
    height: 180px;
    margin-top: 15px;
}

#tintuc6 ul.tintuc6-right1{
    width: 520px;
    height: 180px;
    border-bottom: 1px solid #ccc;
    margin-left: 14px;
    margin-top: 15px;
}

#tintuc6 ul.tintuc6-right2{
    width: 520px;
    height: 180px;
    margin-left: 14px;
    margin-top: 15px;
}

#tintuc6 ul.categories h2.cm a{
    display: block;
    margin-top: -1px;
    height: 25px;
    border-left: 3px solid red;
    text-decoration: none;
    font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: "Merriweather", serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc6 ul li{
    float: left;
    list-style: none;
}

#tintuc6 ul li.img{
    float: left;
    height: 144px;
    max-width: 230px;
    max-height: 144px;
}

#tintuc6 ul li.img img{
    max-width: 100%;
    max-height: 100%;
}

#tintuc6 ul li.text{
    width: 272px;
    height: 144px;
    margin-left: 14px;
}

#tintuc6 ul li.text .text__content a, 
#tintuc6 ul li.text .text__content p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc6 ul li.text a{
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
    margin-bottom: 10px;
    display: block;
}

#tintuc6 ul li.text a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc6 ul li.text p{
    margin-top: 20px;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #444;
    display: block;
}

#tintuc6-right ul.categories{
    margin-left: 14px;
    border-left: 4px solid blue;
}

#tintuc4{
    height: 520px;
    width: 1080px;
    border-bottom: 1px solid #2e3192;
    margin-top: 15px;
    display: flex;
}

#tintuc4-left{
    width: 559px;
    height: 515px;
}

#tintuc4-right{
    width: 520px;
    height: 515px;
}

#tintuc4 ul{
}

#tintuc4 ul.categories{
    height: 25px;
    border-left: 4px solid blue;
}

#tintuc4-left ul.tintuc4-left1{
    width: 555px;
    height: 470px;
    margin-top: 15px;
    list-style: none;
}

#tintuc4-right ul.tintuc4-right1{
    width: 517px;
    height: 133px;
    border-bottom: 1px solid #ccc;
    margin-top: 39px;
    list-style: none;
}

#tintuc4-right ul.tintuc4-right2{
    width: 517px;
    height: 133px;
    border-bottom: 1px solid #ccc;
    margin-top: 20px;
    list-style: none;
}

#tintuc4-right ul.tintuc4-right3{
    width: 517px;
    height: 133px;
    margin-top: 20px;
    list-style: none;
}

#tintuc4-right ul.tintuc4-right1 li{
    float: left;
}

#tintuc4-right ul.tintuc4-right2 li{
    float: left;
}

#tintuc4-right ul.tintuc4-right3 li{
    float: left;
}

#tintuc4-left ul.tintuc4-left1 li.img{
    max-width: 520px;
    max-height: 325px;
}

#tintuc4-left ul.tintuc4-left1 li.text{
    width: 520px;
    height: 135px;
}   

#tintuc4 #tintuc4-left .tintuc4-left1 .text .text__content a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
} 

#tintuc4 #tintuc4-left .tintuc4-left1 .text .text__content p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc4-left ul.categories h2.cm a{
    display: block;
    margin-top: -1px;
    height: 25px;
    border-left: 3px solid red;
    text-decoration: none;
    font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: "Merriweather", serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc4-left ul.tintuc4-left1 li.img img{
    width: 100%;
    height: 100%;
}

#tintuc4-left ul.tintuc4-left1 li.text a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 130%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
    margin-bottom: 12px;
    margin-top: 5px;
}

#tintuc4-left ul.tintuc4-left1 li.text a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc4-left ul.tintuc4-left1 li.text p{
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #444;
}

#tintuc4-right ul li.img{
    max-width: 180px;
    max-height: 113px;
}

#tintuc4-right ul.tintuc4-right1 li.img{
    float: left;
}

#tintuc4-right ul.tintuc4-right1 li.text{
    float: left;
    width: 325px;
    margin-left: 10px;
}

#tintuc4 #tintuc4-right .tintuc4-right1 .text .text__content a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc4 #tintuc4-right .tintuc4-right2 .text .text__content a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc4 #tintuc4-right .tintuc4-right3 .text .text__content a{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#tintuc4-right ul.tintuc4-right1 li.text a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
}

#tintuc4-right ul.tintuc4-right1 li.text a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc4-right ul.tintuc4-right2 li.img{
    float: left;
}

#tintuc4-right ul.tintuc4-right2 li.text{
    float: left;
    width: 325px;
    margin-left: 10px;
}

#tintuc4-right ul.tintuc4-right2 li.text a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
}

#tintuc4-right ul.tintuc4-right2 li.text a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc4-right ul.tintuc4-right3 li.img{
    float: left;
}

#tintuc4-right ul.tintuc4-right3 li.text{
    float: left;
    width: 325px;
    margin-left: 10px;
}

#tintuc4-right ul li.img img{
    width: 100%;
    height: 100%;
}

#tintuc4-right ul.tintuc4-right3 li.text a{
    display: block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
}

#tintuc4-right ul.tintuc4-right3 li.text a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc8{
    width: 1080px;
    height: 600px;
    border-bottom: 1px solid #2e3192;
    margin-top: 15px;
}

#tintuc8 ul.categories{
    height: 25px;
    border-left: 4px solid blue;
    margin-bottom: 15px;
}

#tintuc8 ul.categories h2.cm a{
    display: block;
    margin-top: -1px;
    height: 25px;
    border-left: 3px solid red;
    text-decoration: none;
    font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: "Merriweather", serif;
    padding-left: 10px;
    margin-left: -1px;
}

#tintuc8 ul.tintuc8-1{
    width: 1079px;
    height: 280px;
    list-style: none;
}

#tintuc8 ul.tintuc8-1 li{
    max-width: 250px;
    max-height: 156px;
    float: left;
}

#tintuc8 ul.tintuc8-1 li.tintuc8-1-1{
    width: 250px;
    height: 280px;
}

#tintuc8 ul.tintuc8-1 li.tintuc8-1-2{
    width: 250px;
    height: 280px;
    margin-left: 26px;
}

#tintuc8 ul.tintuc8-1 li img{
    width: 100%;
    height: 100%;
}

#tintuc8 ul.tintuc8-1 li a{
    display: block;
    text-decoration: none;
    width: 250px;
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: .02em;
    color: #333;
    font-family: "Merriweather", serif;
}

#tintuc8 ul.tintuc8-1 li a:hover{
    color: #333399;
    transition: ease-in 0.10s;
    -moz-transition: ease-in 0.10s;
    -webkit-transition:  ease-in 0.10s;
}

#tintuc8 ul li .text__content a{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

#lienket{
    width: 1080px;
    height: 125px ;
    margin-top: 15px;
    margin-bottom: 20px;
}

#lienket ul.categories{
    height: 25px;
    border-left: 4px solid blue;
    margin-bottom: 15px;
}

#lienket ul li{
    list-style: none;
    float: left;
}

#lienket ul li.banner2{
    margin-left: 18px;
}

#lienket ul.categories h2.cm a{
    display: block;
    margin-top: -1px;
    height: 25px;
    border-left: 3px solid red;
    text-decoration: none;
    font-size: 22px;
    line-height: 130%;
    color: #2e3192;
    font-weight: 700;
    font-family: "Merriweather", serif;
    padding-left: 10px;
    margin-left: -1px;
}

footer{
    margin-top: 70px;
    height: 131px;
    background-color: #2E3192;
}

.footer__mid{
    height: 130px;
}

.footer__mid ul{
    height: 125px;
    float: left;
}

.footer__mid ul li{
    list-style: none;
}
.footer__mid ul.logo{
    width: 125px;
}

.footer__mid ul.information{
    width: 830px;
}

.footer__mid ul.co-op{
    width: 110px;
}

.footer__mid ul.logo li span.logo a{
    display: block;
}

.footer__mid ul.logo li span.logo a img{
    margin-top: -32px;
}

.footer__mid ul.information li p.information1{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.footer__mid ul.information li p.information2{
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.footer__mid ul.co-op li{
    margin-left: 7px;
    margin-top: 20px;
}
