* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Merriweather', serif;
font-family: 'Roboto', sans-serif; */

.header__top,
.header__middle__container,
.footer__mid,
.header__bottom ul {
    max-width: 1083px;
    width: 100%;
    margin: 0 auto;
}

main {
    max-width: 1503px;
    width: 100%;
    margin: 0 auto;
}

header {
}

.header__top {
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #666666;
    padding: 7px;
}

.header__middle {
    height: 131px;
    background: url(./images/bg-header.webp) no-repeat;
}

.header__middle__container {
    height: 100%;
}

.header__middle__container__image {
    position: relative;
}

.header__middle__container__image img {
    position: absolute;
    top: -25px;
}

.header__middle__container__title {
    font-family: "Merriweather", serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-left: 150px;
    padding-top: 70px;
}

#tile {
    width: 1500px;
    height: 40px;
    margin-top: 20px;
}

#tile h3 {
    height: 30px;
    margin-bottom: 20px;
    float: left;
}

#tile h3.button {
    margin-left: 1170px;
    margin-top: -1px;
}

#tile h3.button button {
    height: 30px;
    cursor: pointer;
    width: 100px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}

#tile h3.button button:hover {
    background-color: #ffcccc;
    transition: ease-in 0.2s;
    -moz-transition: ease-in 0.2s;
    -webkit-transition: ease-in 0.2s;
    border: 1px solid #ccccff;
}

#tile h3.button button p {
    float: left;
}

#tile h3.button button.post p.img img {
    margin-top: 1px;
    margin-left: 5px;
}

#tile h3.button button.post p.name-button {
    margin-top: 3px;
    font-family: "Merriweather", serif;
}

#tile h3 a.tile__page {
    margin-top: 2px;
}

#tile h3 a {
    display: block;
    text-decoration: none;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2e3192;
    float: left;
}

#input {
    border: 2px dashed #b1154a;
    width: 1500px;
    height: 480px;
    margin-top: 10px;
}

#input p {
    float: left;
}

#tile-port {
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: 1px solid #111;
    width: 1470px;
    height: 56px;
    max-width: 1470px;
    margin-bottom: 5px;
}

#tile-port p.img {
    margin-top: 1px;
}

#tile-port p.text {
    display: block;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #330066;
}

#tile-port input {
    margin-top: 2px;
    height: 30px;
    width: 1471px;
    border: none;
}

#description {
    margin-top: 20px;
    margin-left: 10px;
    width: 1470px;
    height: 56px;
    max-width: 1470px;
    margin-bottom: 5px;
    border-bottom: 1px solid #111;
}

#description p.img {
    margin-top: 1px;
}

#description p.text {
    display: block;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #330066;
}

#description input {
    margin-top: 2px;
    height: 30px;
    width: 1471px;
    border: none;
}

#img {
    margin-top: 20px;
    margin-left: 10px;
    width: 1470px;
    height: 56px;
    max-width: 1470px;
    margin-bottom: 5px;
    border-bottom: 1px solid #111;
}

#img p.img {
    margin-top: 1px;
}

#img p.text {
    display: block;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #330066;
}

#img input {
    margin-top: 25px;
    margin-left: -100px;
    height: 30px;
    width: 200px;
    border: none;
}

#theme {
    margin-top: 20px;
    margin-left: 10px;
    width: 1470px;
    height: 56px;
    max-width: 1470px;
    margin-bottom: 5px;
    border-bottom: 1px solid #111;
}

#theme p.img {
    margin-top: 1px;
}

#theme p.text {
    display: block;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #330066;
}

#theme input {
    margin-top: 2px;
    height: 30px;
    width: 1471px;
    border: none;
}

#content {
    margin-top: 20px;
    margin-left: 10px;
    width: 1470px;
    height: 200px;
    max-width: 1470px;
    margin-bottom: 5px;
}

#content p.img {
    margin-top: 1px;
}

#content p.text {
    display: block;
    align-items: center;
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #330066;
}

#content textarea {
    margin-top: 10px;
    resize: none;
    width: 1470px;
}
footer {
    margin-top: 150px;
    height: 131px;
    background-color: #2e3192;
}

.footer__mid {
    height: 130px;
}

.footer__mid ul {
    height: 125px;
    float: left;
}

.footer__mid ul li {
    list-style: none;
}
.footer__mid ul.logo {
    width: 125px;
}

.footer__mid ul.information {
    width: 830px;
}

.footer__mid ul.co-op {
    width: 110px;
}

.footer__mid ul.logo li span.logo a {
    display: block;
}

.footer__mid ul.logo li span.logo a img {
    margin-top: -32px;
}

.footer__mid ul.information li p.information1 {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-top: 10px;
    margin-left: 10px;
}

.footer__mid ul.information li p.information2 {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 130%;
    text-align: left;
    color: white;
    margin-left: 10px;
}

.footer__mid ul.co-op li {
    margin-left: 7px;
    margin-top: 20px;
}
